@import "variables";
@import "mixins/color";

html {
  height: 100% !important;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
}

.h-100 {
  height: 100% !important;
}

@media screen and (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1260px;
  }
}

img {
  max-width: 100%;
}

.entry-title,
.page-title {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: $darkGrey;
  word-break: break-word;

  b,
  strong {
    font-weight: 700;
  }

  @media screen and (min-width: 992px) {
    font-size: 44px;
    line-height: 57px;
  }
}

.entry-content,
.page-content {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: $grey;
  word-break: break-word;

  b,
  strong {
    font-weight: 700;
  }

  @media screen and (min-width: 992px) {
    font-size: 24px;
    line-height: 41px;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 16px;
}

.site-main {
  margin-top: 112px;
  // background: green;

  @media screen and (max-width: 768px) {
    margin-top: 98px;
  }
}

.admin-bar .site-main {
  margin-top: 80px;
  // background: green;

  @media screen and (max-width: 768px) {
    margin-top: 52px;
  }
}
